.profile__edit-button {
  background: black url("../../../images/pen.svg") no-repeat center;
  border: white 1px solid;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 680px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
