.header {
  border-bottom: 1px solid rgba(196, 196, 196, 0.25);
  padding-bottom: 36px;
  padding-top: 45px;

}

@media screen and (max-width: 920px) {
  .header {
    padding-bottom: 30px;
    padding-left: 27px;
    padding-top: 28px;
  }
}
