.popup__name {
  border: 0;
  border-bottom: 1px solid #bcbcc4;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  height: 30px;
  margin-bottom: 26px;
  padding: 0;
  width: 100%;
}
