.profile__subtitle {
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

@media screen and (max-width: 680px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin: 10px 0 30px 40px;
    align-self: center;
  }
}
