.card__like-button {
  border: none;
  cursor: pointer;
  background: #FFFFFF url("../../../images/like.svg");
  background-size: cover;
  aspect-ratio: 1/1;
  width: 22px;
  height: 19px;
}

.card__like-button:hover {
  opacity: 0.8;
}

