.elements {
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  justify-items: center;
  padding-top: 51px;
}

@media screen and (max-width: 680px) {
  .elements {
    padding-top: 36px;
  }
}
