.popup__close-button {
  background: rgba(255, 255, 255, 0) url("../../../images/close_Icon.svg");
  background-size: cover;
  border: none;
  height: 32px;
  position: absolute;
  right: -40px;
  text-decoration: none;
  top: -40px;
  width: 32px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .popup__close-button {
    right: -0px;
    top: -33px;
    width: 20px;
    height: 20px;
  }
}
