.popup__link {
  position: absolute;
  right: -40px;
  text-decoration: none;
  top: -40px;
}

.popup__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .popup__link {
    right: -0px;
    top: -33px;
  }
}
